@import url('https://fonts.googleapis.com/css2?family=Sniglet&family=Fredoka+One&display=swap');

*{
margin: 0;
padding: 0;
border: 0;

}

.row, .container, .container-fluid {
    padding-left: 30px; 
}

body {
    font-family:"Sniglet", sans-serif ;
    line-height: 2.5rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: 0;
}


.navbar{
    font-family: "Fredoka One", sans-serif;
    font-size:1.5rem;
    font-weight: bolder;
    background-color:#3ea7b4ee;
    margin-bottom: 0;
}

#navbarLogo a {
    font-family: "Fredoka One", sans-serif;
    font-weight: bolder;
    font-size: 2.1rem;
    color:#f1e318;
    letter-spacing: .3rem;
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link{
    color: #f1e318;
    letter-spacing: .1rem;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: yellow;
}

.nav-item {
    padding: .5rem;
}

#ModalCenterInstructions .modal-header, .modal-body{
    color: #f1e318;
    background-color: #29838f;
    padding-left: 30px;
}

.modal-header #ModalTitle{
    text-align: center;
    font-family: "Fredoka One", sans-serif;
    font-size: 1.4rem;
}

.modal-body{
    font-family: "Sniglet",sans-serif;
    font-size: 1.1rem;
}

.modal-body li {
    padding: 10px;
}

.modal-footer{
    color: #f1e318;
    background-color:#32cf4c;
}

.modal-footer button{
    color: #f1e318;
    background-color: #29838f;
    font-family: "Fredoka One", sans-serif;
    font-size: 1.2rem;
}

.intro-container {
    height: 45vw;
    width: 100%;
    background: url('../images/abc-image.jpg') no-repeat center center fixed;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    background-size: cover;  
}

.jumbotron {
    background-color:transparent;
    border-radius: 30px;
    margin: 7rem;
    text-align: center;
}

.jumbotron h2 {
    color:  #f1e318;
    font-family: "Sniglet", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: .1rem;
    padding-top: 0;
    padding-bottom: 10px;
}

.jumbotron p {
    color:  #f1e318;
    font-family: "Sniglet", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: .1rem;
    padding-top: 0;
    padding-bottom: 10px;
}

.btn-lg {
    line-height: 1.5;
    border-radius: .3rem;
}

.btn-warning {
    color:#29838f;
    font-family: "Fredoka One", sans-serif;
    font-weight: bolder;
    font-size: 1.5rem;
    background-color: #f1e318 ;
}

.instruction-container{
    background-color:#308a96ee; 
    align-content: center;
    margin-bottom: 3rem;
}

#instructions h2{
    color:  #f1e318;
    font-family: "Sniglet",sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-left: 2.5rem;
    letter-spacing: .1rem;
    text-align: justify;
    line-height: 0;
    

}

#instructions ol{
    color:#f1e318;
    padding-left: 2rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
    font-size: 1.3rem;
    text-align: justify;
     line-height: 3rem;
}

.instructions ol li{
    padding-bottom: 1rem;
}

#instructionImage{
    margin-left: 60px;
    height: 30vw;
    width: 40vw;
    padding: .5rem .5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

footer{
    background-color:#32cf4c;
    padding: .5rem 1rem;
}

#footer-details{
    text-align: center;
     color: #f1e318;
     font-size: 1.5rem;
    font-family: "Fredoka One",sans-serif;
}