@import url('https://fonts.googleapis.com/css2?family=Sniglet&family=Fredoka+One&display=swap');

*{
margin: 0;
padding: 0;
border: 0;

}

body {
    font-family:"Sniglet", sans-serif ;
}

h2 {
    color:  #f1e318;
    font-family: "Sniglet", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: .1rem;
    padding-top: 0;
    padding-bottom: 10px;
    margin-top: 50px;
}

h3 {
    padding-top: 20px;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
}


hr {
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: 0;
}


.navbar{
    font-family: "Fredoka One", sans-serif;
    font-size:1.5rem;
    font-weight: bold;
    background-color:#1a8796ee;
    margin-bottom: 0;
}

#navbarLogo a {
    font-family: "Fredoka One", sans-serif;
    font-weight: bolder;
    font-size: 1.6rem;
    color:#f1e318;
    letter-spacing: .3rem;
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link{
    color: #f1e318;
    letter-spacing: .2rem;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(233, 65, 65);
}

.nav-item {
    padding: .5rem;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5rem;
    height: 2.5rem;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    border: none;
}

#ModalCenterInstructions .modal-body{
    color: #ffee00;
    background-color: #1a8796ee;
    padding-left: 30px;
}

#ModalCenterInstructions .modal-header{
    background-color: rgb(233, 65, 65);
    color: #ffee00;
}

.modal-header{
    font-family: "Fredoka One", sans-serif;
    font-size: 1.4rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    -ms-flex-pack: justify;
    padding: 1rem 1rem;
    border-bottom: 1px solid yellow;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

.modal-body{
    font-family: "Sniglet",sans-serif;
    font-size: 1.1rem;
    border-bottom: 1px solid yellow;
}

.modal-body li {
    padding: 10px;
}

.modal-footer{
    color: #f1e318;
    background-color:#32cf4c;
}

.modal-footer button{
    color: #ffee00;
    background-color: rgb(233, 65, 65);
    font-family: "Fredoka One", sans-serif;
    font-size: 1.2rem;
}

.modal-footer button:hover{
    background-color:  #eb1f1f;
    color: #f1e318;
}

#instructionButton {
    color: #f1e318;
    background-color: transparent;
    border: none;
    font-family: "Fredoka One", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    text-align: left;
    padding: .5rem .5rem;
}

#instructionButton:hover{
    color: rgb(233, 65, 65);
    border: none;
}

.home-container{
    background-color: #29838f;
    color: #ffee00;
    height: auto;
    width: 100vw;
    background: url('../images/abc-image.jpg') no-repeat center center fixed;
    background-size: cover;
}

.opaque-overlay {
    position: absolute;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color:rgba(0, 0, 0, 0.5);
    background-size: cover;  
}

#home{
    text-align: center;
    height: 100vh;
}

#home p{
    color:  #f1e318;
    font-family: "Sniglet", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: .1rem;
    padding-top: 0;
    padding-bottom: 10px;
}

.btn-lg {
    line-height: 1.5;
    border-radius: .3rem;
}

#playGame{
    cursor: pointer;
    padding-left: 50px;
    padding-right: 50px;
    color:#0f8392;
    font-family: "Fredoka One", sans-serif;
    font-weight: bolder;
    font-size: 1.6rem;
    background-color: #f1e318 ;
}

#playGame:hover{
    color: rgb(1, 83, 190);
    background-color:#ffee00 ;
}

.game-container {
    background: #0f8392;
    color: #ffee00;
    height: auto;
    margin: 30px 5px;
    padding: 30px 5px;
}

.question-container{
    height: auto;
    width: 100%;
    text-align: center;
    padding: 20px;
}

.question-container h3 {
    font-family: "Fredoka One", sans-serif;
    font-size: 1.75rem;
    letter-spacing: .1rem;
}

.image-container{
   padding: 10px;
}

#letterText h3{
   font-family: "Fredoka One", sans-serif;
    font-size: 1.75rem; 
    letter-spacing: .1rem;
}

#qImage img{
    width:100%;
    height:auto;
    padding: 20px;
}

.answers-container{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#imageA img,
#imageB img,
#imageC img ,
#imageD img{
    width: 100%;
    height:100%;
    padding: 5px;
    cursor: pointer;
}

#A,#B,#C,#D {
    color: #ffee00;
    letter-spacing: .5rem;
    font-family: "Sniglet",sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 10px 1px;
    background: transparent;
}

#answers input{
    font-size: 5rem;
    margin-right: 30px;
}



#gameControls .btn-next, .btn-leave{
    cursor: pointer;
    color:#0f8392;
    font-family: "Fredoka One", sans-serif;
    font-weight: bolder;
    font-size: 1.1rem;
    background-color: #f1e318 ;
    display: flex;
    justify-content: center;
    align-self: right;
    margin-top: 10px;
    line-height: 2.5;
    overflow: hidden;
}

.btn-leave i {
    font-weight: bold;
    line-height: 2.5;
    padding-left: .5rem;
    font-size: 1.15rem;
}


#gameControls.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 0px 10px;
  padding: 5px;
}

.hide{
    display: none;
}

footer{
    background-color:#32cf4c;
    padding: .5rem 1rem;
}

#footer-details{
    text-align: center;
     color: #f5e400;
     font-size: 1.5rem;
    font-family: "Fredoka One",sans-serif;
}